# Configuration file

##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# These options affect only the client that loads the mod.\nIf you are looking for keybinds, look for them in ichunutil_keybinds.cfg.
##########################################################################################################

clientonly {
    # Do you have a favourite band? Setting this will always set your band when you start playing a song.
    S:favoriteBand=ILB

    # Volume of the instruments, divided by 100.
    I:instrumentVolume=100

    # Some abc file have titles but aren't set properly. This will make the list show file names instead.
    I:showFileTitle=1

    # Should we show a message of "Now Playing" for songs, similarly to records.
    I:showRecordPlayingMessageForTracks=1
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# These options are general options that don't fit any other category.
##########################################################################################################

general {
    # Allow players to use instruments that normally require two hands, with one hand?
    I:allowOneHandedTwoHandedInstrumentUse=1

    # Can players create their own instruments with a name tag and 9 other instruments?
    # 0 = No
    # 1 = Only instruments the server doesn't have
    # 2 = Only instruments the server has
    # 3 = Any instrument
    I:creatableInstruments=3

    # Disabled instruments by their item name.
    S:disabledInstruments <
     >

    # Loot tables for chests that will be disabled. EG: minecraft:chests/stronghold_corridor
    S:disabledLootChests <
     >

    # Weightage for the spawn chance of instruments in loot chests. Set to 0 to disable.
    I:lootSpawnRate=1

    # Chance for mobs to drop an instrument, divided by 10000. 0 to disable. Affected by looting level.
    I:mobDropRate=20

    # Only allow hostile mobs to drop instruments when they die.
    I:onlyHostileMobSpawn=1

    # Chance of the zombies to spawn with an instrument, divided by 10000. 0 to disable
    I:zombieSpawnRate=20

    # Can zombies use instruments?
    I:zombiesCanUseInstruments=1
}


